
DB_SSL_MODE=disable
DATABASE_URL=postgresql://tokencheck_user:ADD_PASSWORD_HERE@localhost:5432/tokencheck_db
JWT_SECRET=

# use below for cloud run and IP = localhost for k8
# DATABASE_URL=postgresql://tokencheck_user:DRBQmiDxXZYV7yBx@10.52.128.3:5432/tokencheck_db
MAX_CONNECTIONS=10
IP=127.0.0.1
PORT=8081
WORKERS=6
JWT_EXPIRATION_HOURS=25
ENABLE_CONSOLE_LOGGING=true

# api key needed to make server to server call to auth service
SUBS_SERVICE_API_KEYS=subs123
AUTH_API_KEY=auth123
AUTH_SERVICE_URL=http://localhost:8080/api
CORS_ALLOWED_ORIGIN=http://localhost:3000
ENVIRONMENT=development
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
